# /etc/nginx/sites-available/{{ domain }}.conf

server {
    listen 80;
    server_name {{ domain }};

    # include letsencrypt.conf;

    location / {
        return 301 https://$host$request_uri;
    }
}

server {
    listen 443 ssl;
    server_name {{ domain }};

    root /var/www/{{ domain }};

    index index.html;

    # Ajoutez ici votre configuration SSL (certificat, clé, etc.)
    ssl_certificate /etc/letsencrypt/live/{{ domain }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ domain }}/privkey.pem;

    # location / {
        # Configuration spécifique pour {{ domain }}
    # }
}